body {
  font-family: 'Onest', sans-serif;
}
.font-color-primary{ color: var(--color-primary);}
.font-color-secondary{color: var(--color-secondary);}
.font-color-light{color: var(--color-light);}
.background-color-primary{background-color: var(--color-primary);}
.background-color-secondary{background-color: var(--color-secondary);}
.project-button-width{width: 15rem !important;}
.slider-image-style{
    height: 90vh;
    max-height: 90vh;
    object-fit: cover;
  }
.card-hover {transition: all 0.3s; }
.card-hover:hover {
  transform: scale(1.1);
  cursor: pointer; 
}
.fs-para{ font-size: 0.8rem }
.input-width{  width: 4rem;}
.light-black-bg{background-color: rgba(0, 0, 0, 0.5);}
.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
}
.hidden {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease, transform 1s ease;
}
.slider-image{
  width: 22.5rem;
  height: 18rem;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.slider-image:hover{ transform: scale(1.1) }
.about-Img{
  height: 30rem;
  width:30rem;
  object-fit: cover;
}
.card-image{
   width: 100%;
   height: 17rem;
   object-fit: cover;
}
.carousel-fade .carousel-inner .carousel-item { transition-duration: 0.8s;}
.input-field-style{
  color: var(--color-primary)!important;
}
.input-field-style:focus {
  outline: none;
  border: none;
}

.contact-page-width{ 
  max-width: 80%;
}
.enquiry-icon{height: 1.2rem;}
.call-icon{height: 1.5rem;}
.whatsapp-icon{height: 1.6rem;}
.contact-icon{height: 1.6rem;}
.moving-button {
  animation: moveUpDown 2s infinite alternate;
  position: relative;
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px); 
  }}
  .custom-dropdown-style {
    height: 7rem;
    overflow-x: hidden; 
    overflow-y: auto;
    z-index: 999;
    top:2.5rem;
  }
  .button-hover-secondary { transition: background-color 0.5s, transform 0.5s;}
  .button-hover-secondary:hover {
    background-color: rgb(231, 78, 78);
    transform: scale(1.1);
  }
  .button-hover-primary { transition: background-color 0.5s, transform 0.5s;}
  .button-hover-primary:hover {
    background-color: #28386b;
    transform: scale(1.1);
  }.button-hover-light { transition: background-color 0.5s, transform 0.5s;}
  .button-hover-light:hover {
    background-color: #d4cece8f;
    transform: scale(1.1);
  }
  .gallery-arrow-transition{ transition: all 0.3s; }
  .gallery-arrow-transition:hover{
    transform: scale(1.1);
  }
  .transparent-section{
    background-image: url("./../assets/Projects/samana/samanaHero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .bg-white-transparent{ background-color: rgba(255, 255, 255, 0.781);}
  .bg-black-transparent{
    background-color: rgba(0, 0, 0, 0.564);
  }
  .circle-image {
    border-radius: 100rem;
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.308);
    transition: box-shadow 0.3s ease;
  }
  .circle-image:hover {
    box-shadow: 0 0 20px 10px rgba(0, 0, 255, 0.408); 
  }
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 100px;
    height: 100px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid var(--color-primary); 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spinner 1.5s linear infinite;
  }
  .loading-spinner-container{
   width: 100%;
   height: 90vh;
   display: flex;
   align-items: center;
   justify-content: center;
  }
  .fs-heroSection{
    font-size: 4rem;}
    .fixed-form{
     position: fixed;
     top: -40.35%;
    }
    .fixed-size-column{
      width: 22rem;
    }

   .youtube-video-dimension{
    width: 600px;
    height: 450px;
   }
   .thumbnail-size{
    width: 100%;
    height: auto;
    object-fit: cover;
   }
   .border-thick{
    border: 0.4rem solid white;
   }
   .border-red{
    border: 2px solid red;
  }
  .border-black{
      border: 2px solid black;
  }
  .side-error{
    right:-9.5rem;
    top:5%;
    font-size: 1rem;
    @media (max-width: 770px) 
    {
     font-size: 0.7rem;
     right: -7rem;
     top:8%;
    }
    @media (max-width: 570px) 
    {
    right: -2rem ;
    top: 110%;
    }
   }

   /* background-Images */
   .samanaBg{
    background-image: url("./../assets/Projects/samana/samanaHero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  .damacBg{
    background-image: url("./../assets/Projects/damac/damacHero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  .oliviaBg{
    background-image: url("./../assets/Projects/olivia/oliviaHero.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  .oceanzBg{
    background-image: url("./../assets/Projects/oceanz/oceanzImg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  .vybBg{
    background-image: url("./../assets/Projects/vyb/vybHero.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  .h-mobile{
    font-size: 2rem;
  }
  
  .flag-style{
    height: 1.2rem;
    width: 1.6rem ;
}
.phone-code-width{
  width: 2.5rem;
}
.input-width{
  max-width: 100%;
  width: 28rem;
}
.phone-input-width{
max-width: 100%;
width: 21rem;
}
.width-1halfrem{
  width: 1.5rem
}
.width-halfrem{
  width: 0.5rem
}

  /* ...................Media query */
@media (max-width: 768px) {
  .project-button-width {width: 9rem !important; }
  .fs-para{ font-size: 0.7rem ;}
  .slider-image{
    width: 25rem;
    height: 20rem;
    object-fit: cover;}
    .enquiry-icon{height: 1rem;}
    .call-icon{height: 1.2rem;}
    .whatsapp-icon{height: 1.3rem;}
    .contact-icon{height: 1.3rem;}
    .circle-image {
      border-radius: 100rem;
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5);
      transition: box-shadow 0.3s ease;
    }
    .fs-heroSection{
      font-size: 3rem;
    }
    .fixed-form{
      position: sticky;
     }
     .fixed-size-column{
      width: 100%;
    }
    .youtube-video-dimension{
      width: 500px;
      height: 450px;
     }
    .input-width{
      max-width: 100%;
      width: 20rem;
    }
    .phone-input-width{
      max-width: 100%;
      width: 13rem;
      }
      .fs-mobile{
        font-size: 0.8rem;
      }
      .h-mobile{
        font-size: 1.3rem;
      }
      .about-Img{
        height: 15rem;
        width:15rem;
        object-fit: cover;
      }
  }
  .custom-style {
    top: 100%;
    max-height: 10rem;
    height: 8rem;
    overflow-x: hidden; 
    overflow-y: auto;
    z-index: 999;
  }

  @media (max-width: 550px) {
    .fs-heroSection{
      font-size:1.8rem !important;
    }
    .youtube-video-dimension{
      width: 400px;
      height: 450px;
     }
  }


  @media (max-width: 400px) {
    .youtube-video-dimension{
      width: 350px;
      height: 450px;
     }
  }
  @media (max-width: 370px) {
    .youtube-video-dimension{
      width: 320px;
      height: auto;
     }
  }


